
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment Received</h1>
<h3>Thank You!</h3>
<a asp-action="Index" class="btn btn-primary">One Time Pickup</a>

